.header {
  text-align: center;
  font-family: 'Rokkitt', 'Georgia', serif;
}
div.header .headertitle {
  margin: 0px;
}
.title {
  color: black;
  font-size: 300%;
  margin-bottom: 0;
  text-align: center;
  line-height: 1em;
  font-family: 'Rokkitt', 'Georgia', serif;
}
a {
  color: #4183c4;
  text-decoration: none;
}
h1, h2, h3 {
  color: black;
  font-family: 'Rokkitt', 'Georgia', serif;
  font-weight: normal;
}
.subtitle {
  font-style: italic;
  color: #444;
  text-align: center;
  margin-bottom: 0.8em;
  font-size: 1.2em;
}
body {
  font-family: 'Fauna One', 'Georgia', serif;
  font-size: 19px;
}
div.content, div.document {
  width: 720px;
}
h1 {
  margin-bottom: 0px;
}
